<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Spring Security Example</title>
    <link rel="stylesheet" th:href="@{/css/style.css}" href="/css/style.css"/>
</head>
<body>
<div th:object="${user}">
    <p th:utext="'Логин: ' + *{username}">sfsd</p>
    <p th:utext="'Имя: ' + *{name}">sfsd</p>
    <p th:utext="'Фамилия: ' + *{lastName}">sfsd</p>
    <p th:utext="'Эл.почта: ' + *{email}">sfsd</p>
    <p th:utext="'Статус: ' + *{status}">sfsd</p>
    <label for="roles">Права:</label>
    <ul id="roles" th:each="role : *{getRoles()}">
        <li>
            <p th:text="${role.getTitle()}">role</p>
        </li>
    </ul>
</div>
<div>
    <a th:href="@{/logout}" href="index.html">
        <img alt="logout" th:src="@{/images/back.png}"/></a>
</div>
</body>
</html>