<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <title>Spring Security Example</title>
    <link rel="stylesheet" th:href="@{/css/style.css}" href="/css/style.css"/>
</head>
<body>
<div th:object="${user}">
    <p th:utext="'Логин: ' + *{get().username}">sfsd</p>
    <p th:utext="'Имя: ' + *{get().name}">sfsd</p>
    <p th:utext="'Фамилия: ' + *{get().lastName}">sfsd</p>
    <p th:utext="'Эл.почта: ' + *{get().email}">sfsd</p>
    <p th:utext="'Статус: ' + *{get().status}">sfsd</p>
    <label for="roles">Права:</label>
    <ul id="roles" th:each="role : *{get().getRoles()}">
        <li>
            <p th:text="${role.getTitle()}">role</p>
        </li>
    </ul>
</div>
<div>
    <a th:href="@{/logout}" href="index.html">
        <img alt="logout" th:src="@{/images/back.png}"/></a>
</div>

</body>
</html>